@use "modules";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #3B4044;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #3B4044;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #DEDEDE;
  margin: 15px 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  outline: none;
}
html,
body {
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3B4044;
  font-weight: 400;
}
ul li,
ol li {
  list-style: none;
}
img {
  vertical-align: middle;
}
caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  display: none;
}
input,
select,
textarea,
pre {
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3B4044;
  font-weight: 400;
  padding-left: 16px;
  &:hover{
    border: 1px solid #000 !important;   
  }
  &:focus {
    border: 1px solid #000 !important;   
  }
}
pre {
  white-space: pre-wrap;
}
button {
  border: 0 none;
  background: transparent;
  outline: 0;
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3B4044;
  font-weight: 400;
  cursor: pointer;
}
input {
  vertical-align: middle;
}
input[type="button"] {
  line-height: 999px;
  text-indent: -9999px;
  cursor: pointer;
}
input[type="checkbox"] {
  margin-right: 4px;
}
input[type="radio"] {
  margin-right: 2px;
  vertical-align: middle;
}
input[readonly="readonly"] {
  background: #fbf9e4;
}
input[readonly="readonly"].validatebox-readonly {
  background: #ffffff;
}
select {
  vertical-align: middle;
  border: 1px solid #d3d3d3;
  height: 23px;
  color: #585858;
  font-size: 14px;
  padding-left: 10px;
}
textarea {
  padding: 7px 12px;
  border: 1px solid #d3d3d3;
  overflow-y: auto;
  outline: none;
  border: 1px solid #58585e;
  background-color: #29292b;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}
textarea:focus {
  border: 1px solid #0173c7;
}
em,
address {
  font-style: normal;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: #444444;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #444444;
}
p,
a,
h2,
h3 {
  word-wrap: break-word;
}
textarea {
  resize: none;
}
a,
button {
  outline: none;
}
strong {
  font-weight: 500;
}

.pt0 {
  padding-top: 0px !important;
}
.pt15 {
  padding-top: 15px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px !important;
}
.mt15 {
  margin-top: 15px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.skin-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eee;
}
.skin-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #eee;
}
.skin-scroll::-webkit-scrollbar-thumb {
  background-color: #727272;
}

::placeholder {
  color: rgba(255,255,255,0.15);
  opacity: 1;
}
/* placeholder 스타일 지정 */
input::placeholder {
  color: rgba(255,255,255,0.15);
  opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
}
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.15);
  font-weight: 300;
}
/* IE */
input:-ms-input-placeholder {
  color: rgba(255,255,255,0.15) !important;
}
/* Firefox */
input:-mos-input-placeholder {
  color: rgba(255,255,255,0.15);
}

textarea::placeholder {
  color: rgba(255,255,255,0.15);
  opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
}
textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.15);
}
textarea:-ms-input-placeholder {
  color: rgba(255,255,255,0.15);
}
textarea:-mos-input-placeholder {
  color: rgba(255,255,255,0.15);
}

// :-ms-input-placeholder { color: #bfbfbf; }
// ::-ms-input-placeholder { color: #bfbfbf; }

input:-webkit-autofill {
  -webkit-text-fill-color: #444444 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.input-fake {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1;
  display: none;
}

.ag-watermark {
  display: none !important;
}

.non-border {
  border: none !important;
}

.ml-8 {
  margin-left: 8px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.pt35 {
  padding-top: 35px;
}
.mt35 {
  margin-top: 35px;
}
.pb0 {
  padding-bottom: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.input-search__n{
  border: 1px solid #bababa;
  border-radius: 4px !important;
  background: #fff;
  box-sizing: border-box;
  width: 212px;
  height: 32px;
  padding: 0 12px;
}

.btn-m {
  display: inline-flex;
  align-items: center;
  height: 33px;
  padding: 0 16px;
  background-color: modules.$focus-color;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  gap: 6px;
  transition: background-color ease 0.4s;
  &:hover{
    background-color: modules.$over-color;
  }
  //CMS 바로가기
  &.cms{
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      mask: url(../images/icon_cms.svg) no-repeat 50%;
    }
  }
  //타겟관리 메뉴 우측 버튼
  &.target{
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      mask: url(../images/icon_next_arrow.svg) no-repeat 50%;
    }
  }
}

.btn-s{
  display: inline-flex;
  align-items: center;
  height: 33px;
  padding: 0 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  &.gray{
    background-color: modules.$gray-color;
    &:hover{
      background-color: modules.$gray-over-color;
    }
  }
  &.red {
    background-color: modules.$focus-color;

    &:hover {
      background-color: modules.$over-color;
    }
  }
}

/************** 
  공통 컴포넌트
*************/

// Preloading
.pop-preloading {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: modules.$max-width;
  min-width: modules.$min-width;
  max-height: modules.$max-height;
  transform: translateX(-50%);
  .preloader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#E30084 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    animation: preloading 1s infinite linear alternate;
  }
  @keyframes preloading {
    0% {
      background-size: 20% 50%, 20% 50%, 20% 50%;
      opacity: 0.5;
    }
    20% {
      background-size: 20% 20%, 20% 50%, 20% 50%;
    }
    40% {
      background-size: 20% 100%, 20% 20%, 20% 50%;      
    }
    50%{
      opacity: 1;
    }
    60% {
      background-size: 20% 50%, 20% 100%, 20% 20%;
    }
    80% {
      background-size: 20% 50%, 20% 50%, 20% 100%;
    }
    100% {
      background-size: 20% 50%, 20% 50%, 20% 50%;
      opacity: 0.5;
    }
  }
}


// .pop-preloading .preloader {
//   content: "";
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   display: inline-block;
//   font-size: 0 !important;
//   text-indent: -9999em !important;
//   border-radius: 50% !important;
//   border-top: 6px solid rgba(230, 240, 250, 0.5) !important;
//   border-right: 6px solid rgba(230, 240, 250, 0.5) !important;
//   border-bottom: 6px solid rgba(230, 240, 250, 0.5) !important;
//   border-left: 6px solid modules.$focus-color !important;
//   transform: translateZ(0);
//   animation: loader-circle 0.5s infinite linear;
// }

//Dialog
.dialog-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000;
  left: 50%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: modules.$max-width;
  min-width: modules.$min-width;
  max-height: modules.$max-height;
  transform: translateX(-50%);

  &.alert {
    .dialog-box {
      .dialog-body {
        padding: 60px 20px 60px 20px;
      }

      .btn-close {
        right: 3px;
        top: 1px;
      }
    }
  }

  &.window {
    .dialog-box {
      .dialog-body {
        padding: 0;
        display: block;
      }
    }
    .btn-close {
      display: inline-block;
      width: 48px;
      height: 48px;
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
      z-index: 2;
      @include modules.textIndent();      
      background-color: #7F8A94;
      mask: url(../images/icon_window_close.svg) no-repeat 50%;
      &:hover {
        background-color: #3B4044;
      }
    }
  }

  .title-label {
    font-size: 15px;
    color: #3B4044;
    font-weight: 500;
  }
}

.dialog-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #7F8A94;
  min-width: 400px;
  animation: ease 0.4s dialogShow;
  position: relative;
  // overflow: hidden;

  .dialog-header {
    height: 65px;
    line-height: 95px;
    position: relative;
    font-size: 20px;
    color: #3e71cf;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
  }

  .dialog-body {
    min-height: 120px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 35px 20px;
    text-align: center;
    flex-direction: column;
    word-break: keep-all;
    line-height: 22px;
    max-height: calc(100vh - 100px);
    // overflow-x: hidden;
    // overflow-y: auto;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #3B4044;

    &::-webkit-scrollbar-track {
      background-color: #3B4044;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: #3B4044;
    }

    &::-webkit-scrollbar-thumb {
      // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #d4d4d4;
    }

    &::-webkit-scrollbar-thumb:vertical:hover {
      background-color: #aaaaaa;
    }

  }

  .dialog-footer {
    display: flex;
    border-radius: 0 0 8px 8px;
    overflow: hidden;

    .ui-button {
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 48px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-size: 15px;
      color: #fff;
      font-weight: 600;
      transition: background-color 0.3s ease;
      border-top: 1px solid rgba(211, 211, 211, 0.2);      
      background-color: modules.$focus-color;
      &:hover {
        background-color: modules.$over-color;
      }  
    }
  }

  &.confirm-dialog {
    .btn-close {
      right: 5px;
      top: 0px;
    }
    .dialog-body{
      padding: 60px 20px 60px 20px;
    }
    .dialog-footer {
      .ui-button {
        
        &:nth-child(1) {
          border-left: 1px solid rgba(224, 224, 224, 0.2);
          background-color: modules.$gray-color;
      
          &:hover {
            background-color: modules.$gray-over-color;
          }
        }
        &:nth-child(2) {
          background-color: modules.$focus-color;
          &:hover {
            background-color: modules.$over-color;
          }
        }        
      }
    }

  }
}

// 윈도우창 컨텐츠 영역
.window-contents {
  height: 100%;
  display: flex;
  flex-direction: column;

  .window-header {
    flex: 0 0 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #A8B3BD;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .window-body {
    flex: 1;
    padding: 0 20px;
  }

  .window-footer {
    flex: 0 0 50px;
    border-top: 1px solid #A8B3BD;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }
}


//404 에러 페이지
.wrap-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 1920px;
  min-width: 1440px;
  margin: 0 auto;
  max-height: 945px;
  height: 100%;
  position: relative;
  .error-box {
    text-align: center;
    .error-title {
      color: #525252;
      font-size: 36px;
      font-weight: 500;

      strong {
        color: modules.$focus-color;
        font-weight: 800;
      }
    }

    .text-muted {
      color: #797979;
      font-size: 16px;
      padding: 10px 0 20px;
    }
  }
}

.error-msg {
  font-size: 13px;
  color: #3F6AD8;
  padding: 5px 4px 2px 4px;
}

.window-wrap {
  .window-body {
    text-align: left;
  }

  .title {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    height: 48px;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
}

// Toast
.slider-wrap {
  position: absolute;
  z-index: 9999;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  .slider-box {
    background: modules.$focus-color;
    padding: 18px 40px 18px 30px;
    border-radius: 8px;
    position: relative;
    min-width: 400px;
    box-sizing: border-box;

    .msg {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      line-height: 20px;
    }

    .btn-close {
      display: inline-flex;
      width: 26px;
      height: 26px;
      position: absolute;
      z-index: 2;
      right: 14px;
      top: 14px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        mask: url("../images/icon_slider_close.svg") no-repeat 50%;
      }

      &:hover {
        .icon {
          opacity: 1;
        }
      }
    }
  }

  &.error {
    .slider-box {
      border: 1px solid #da3518;
      background: #f73b1a;
    }
  }
}

// flex class
.d-flex{
  flex: 0 0;
  display: flex;
  &.justify-between {
    justify-content: space-between;
  }
}

// 그리드 css
.grid-container {
  //padding: 20px;
  max-width: 100%;

  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }

  .table th,
  .table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
  }

  .table th {
    background-color: #000000;
    color: #fff;
  }

  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
