@use "modules";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #3B4044;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #3B4044;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid modules.$color_blueG_300;
  margin: 16px 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  outline: none;
}
html,
body {
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3B4044;
  font-weight: 400;
}
ul li,
ol li {
  list-style: none;
}
img {
  vertical-align: middle;
}
caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  display: none;
}
input,
select,
textarea,
pre {
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3B4044;
  font-weight: 400;
  padding: 0 8px;
  &:hover{
    border: 1px solid #000 !important;   
  }
  &:focus {
    border: 1px solid #000 !important;   
  }
}
pre {
  white-space: pre-wrap;
}
button {
  border: 0 none;
  background: transparent;
  outline: 0;
  font-size: 14px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #3B4044;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
}
input {
  vertical-align: middle;
}
input[type="button"] {
  line-height: 999px;
  text-indent: -9999px;
  cursor: pointer;
}
input[type="checkbox"] {
  margin-right: 4px;
}
input[type="radio"] {
  margin-right: 2px;
  vertical-align: middle;
}
input:read-only , textarea:read-only  {
  border: 1px solid modules.$color_blueG_600;
  background-color: modules.$color_blueG_100;
  color: #181A1B;
}
input[readonly="readonly"].validatebox-readonly {
  background: #ffffff;
}
select {
  vertical-align: middle;
  border: 1px solid #d3d3d3;
  height: 23px;
  color: #585858;
  font-size: 14px;
  padding-left: 10px;
}
textarea {
  padding: 7px 12px;
  border: 1px solid #d3d3d3;
  overflow-y: auto;
  outline: none;
  border: 1px solid #58585e;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}
textarea:focus {
  border: 1px solid #0173c7;
}
em,
address {
  font-style: normal;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: #444444;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #444444;
}
p,
a,
h2,
h3 {
  word-wrap: break-word;
}
textarea {
  resize: none;
}
a,
button {
  outline: none;
}
button:disabled {
  background-color: modules.$color_blueG_300 !important;
  color: modules.$color_white !important;
  border-color: modules.$color_blueG_300 !important;
  pointer-events: none;
}
strong {
  font-weight: 500;
}

.pt0 {
  padding-top: 0px !important;
}
.pt15 {
  padding-top: 15px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px !important;
}
.mt15 {
  margin-top: 15px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.skin-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eee;
}
.skin-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #eee;
}
.skin-scroll::-webkit-scrollbar-thumb {
  background-color: #727272;
}

::placeholder {
  color: rgba(255,255,255,1);
  opacity: 1;
}
/* placeholder 스타일 지정 */
input::placeholder {
  color: rgba(255,255,255,1);
  opacity: 1; 
}
textarea::placeholder {
  color: rgba(255,255,255,1);
  opacity: 1; 
}

// :-ms-input-placeholder { color: #bfbfbf; }
// ::-ms-input-placeholder { color: #bfbfbf; }

input:-webkit-autofill {
  -webkit-text-fill-color: #444444 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.input-fake {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1;
  display: none;
}

.ag-watermark {
  display: none !important;
}

.non-border {
  border: none !important;
}

.ml-8 {
  margin-left: 8px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.pt35 {
  padding-top: 35px;
}
.mt35 {
  margin-top: 35px;
}
.pb0 {
  padding-bottom: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.mb74 {
  margin-bottom: 74px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.m-auto {
  margin: 0 auto 0 auto;
}
.text-nowrap {
  white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.input-search__n{
  border: 1px solid #bababa;
  border-radius: 4px !important;
  background: #fff;
  box-sizing: border-box;
  width: 212px;
  height: 32px;
  padding: 0 12px;
}

.btn-m {
  display: inline-flex;
  align-items: center;
  height: 33px;
  padding: 0 16px;
  background-color: modules.$color_primary;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  gap: 6px;
  transition: background-color ease 0.4s;
  &:hover{
    background-color: modules.$color_secondary;
    //background-color: modules.$over-color;
  }
  //CMS 바로가기
  &.cms{
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      mask: url(../images/icon_cms.svg) no-repeat 50%;
    }
  }
  //타겟관리 신규 타겟팅
  &.target{
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      mask: url(../images/icon_next_arrow.svg) no-repeat 50%;
    }
  }
}

//모달 팝업 취소, 적용 버튼

.btn-b{
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  &.black{
    background-color: modules.$color_blueG_900;
  }
}

.ml16 {
  margin-left: 16px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.pt35 {
  padding-top: 35px;
}
.mt35 {
  margin-top: 35px;
}
.mb30 {
  margin-bottom: 30px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mt5{
  margin-top: 5px !important;
}
.mt8{
  margin-top: 8px !important;
}
.mt16{
  margin-top: 16px !important;
}
.mt17{
  margin-top: 17px !important;
}
.mt18{
  margin-top: 18px !important;
}
.mt32{
  margin-top: 32px !important;
}
.font-primary {
  color: modules.$color_primary;
}

/************** 
  공통 컴포넌트
*************/

// Preloading
.pop-preloading{
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: modules.$max-width;
  min-width: modules.$min-width;
  max-height: modules.$max-height;
  transform: translateX(-50%);
  .preloader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,modules.$color_white 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,modules.$color_white);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: ai-loader 1s infinite linear;
  }
  .preloader-text {
    color: modules.$color_white;
    margin-top: 8px;
    animation: blank 1s infinite linear;
    font-weight: 500;
  }
  @keyframes ai-loader{ 
    100%{transform: rotate(1turn)}
  }
  @keyframes blank{ 
    0%{opacity: 0.2}
    50%{opacity: 1}
    100%{opacity: 0.2}
  }
}

//Dialog
.dialog-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000;
  left: 50%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: modules.$max-width;
  min-width: modules.$min-width;
  max-height: modules.$max-height;
  transform: translateX(-50%);

  &.alert {
    .dialog-box {
      .dialog-body {
        padding: 60px 20px 60px 20px;
      }

      .btn-close {
        right: 3px;
        top: 1px;
      }
      .dialog-footer .ui-button{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

  }

  &.window {
    .dialog-box {
      .dialog-body {
        padding: 0;
        display: block;
      }
    }
    .btn-close {
      display: inline-block;
      width: 48px;
      height: 48px;
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
      z-index: 2;
      @include modules.textIndent();      
      background-color: #7F8A94;
      mask: url(../images/icon_window_close.svg) no-repeat 50%;
      &:hover {
        background-color: #3B4044;
      }
    }
  }

  .title-label {
    font-size: 15px;
    color: #3B4044;
    font-weight: 500;
  }
}

.dialog-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #7F8A94;
  min-width: 400px;
  animation: ease 0.4s dialogShow;
  position: relative;
  // overflow: hidden;

  .dialog-header {
    height: 65px;
    line-height: 95px;
    position: relative;
    font-size: 20px;
    color: #3e71cf;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
  }

  .dialog-body {
    min-height: 120px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 35px 20px;
    text-align: center;
    flex-direction: column;
    word-break: keep-all;
    line-height: 22px;
    max-height: calc(100vh - 100px);
    // overflow-x: hidden;
    // overflow-y: auto;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #3B4044;

    &::-webkit-scrollbar-track {
      background-color: #3B4044;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: #3B4044;
    }

    &::-webkit-scrollbar-thumb {
      // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #d4d4d4;
    }

    &::-webkit-scrollbar-thumb:vertical:hover {
      background-color: #aaaaaa;
    }

  }

  .dialog-footer {
    display: flex;
    border-radius: 0 0 8px 8px;
    overflow: hidden;

    .ui-button {
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 48px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-size: 15px;
      color: #fff;
      font-weight: 600;
      transition: background-color 0.3s ease;
      border-top: 1px solid rgba(211, 211, 211, 0.2);      
      background-color: modules.$color_primary;
      &:hover {
        background-color: modules.$over-color;
      }  
    }
  }

  &.confirm-dialog {
    .btn-close {
      right: 5px;
      top: 0px;
    }
    .dialog-body{
      padding: 60px 20px 60px 20px;
    }
    .dialog-footer {
      .ui-button {
        
        &:nth-child(1) {
          border-left: 1px solid rgba(224, 224, 224, 0.2);
          background-color: modules.$gray-color;
          border-radius: 0 0 0 8px ;
          &:hover {
            background-color: modules.$gray-over-color;
          }
        }
        &:nth-child(2) {
          background-color: modules.$color_primary;
           border-radius: 0 0 8px 0;
          &:hover {
            background-color: modules.$over-color;
          }
        }        
      }
    }

  }
}

// 윈도우창 컨텐츠 영역
.window-contents {
  height: 100%;
  display: flex;
  flex-direction: column;

  .window-header {
    flex: 0 0 60px;
    box-sizing: border-box;
    border-bottom: 1px solid modules.$color_blueG_400;
    font-size: 18px;
    color: modules.$color_secondary;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0 80px 0 20px;

    .block-btn  {
      margin-left: auto;
      padding: 4px 6px;
      background-color: modules.$color_blueG_100;
      border-radius: 36px;

      button[class^="btn-"] {
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .back-title{
      display: inline-flex;
      align-items: center;
    }
  }

  .window-body {
    flex: 1;
  }

  .window-footer {
    flex: 0 0 50px;
    border-top: 1px solid #A8B3BD;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: modules.$color_white;
    border-radius: 0 0 8px 8px;
  }
  &.v-scroll {
    overflow: hidden;

    .window-body {
      height: calc(100% - 110px);
      overflow-y: auto;
      @include modules.custom-scrollbar();
    }
  }
}


//404 에러 페이지
.wrap-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 1920px;
  min-width: 1440px;
  margin: 0 auto;
  max-height: 945px;
  height: 100%;
  position: relative;
  .error-box {
    text-align: center;
    .error-title {
      color: #525252;
      font-size: 36px;
      font-weight: 500;

      strong {
        color: modules.$color_primary;
        font-weight: 800;
      }
    }

    .text-muted {
      color: #797979;
      font-size: 16px;
      padding: 10px 0 20px;
    }
  }
}

.error-msg {
  font-size: 13px;
  color: #3F6AD8;
  padding: 5px 4px 2px 4px;
}

.window-wrap {
  .window-body {
    text-align: left;
  }

  .title {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    height: 48px;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
}

// Toast
.slider-wrap {
  position: absolute;
  z-index: 9999;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  .slider-box {
    background: modules.$color_primary;
    padding: 18px 40px 18px 30px;
    border-radius: 8px;
    position: relative;
    min-width: 400px;
    box-sizing: border-box;

    .msg {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      line-height: 20px;
    }

    .btn-close {
      display: inline-flex;
      width: 26px;
      height: 26px;
      position: absolute;
      z-index: 2;
      right: 14px;
      top: 14px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        mask: url("../images/icon_slider_close.svg") no-repeat 50%;
      }

      &:hover {
        .icon {
          opacity: 1;
        }
      }
    }
  }

  &.error {
    .slider-box {
      border: 1px solid #da3518;
      background: #f73b1a;
    }
  }
}


// display
.opacity-0 {
  opacity: 0;
}
.d-none {
  display: none !important;
}
.d-inline-block {
  display: inline-block;
}
// flex class
.d-flex{
  flex: 0 0;
  display: flex;
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.gap-4px {
    gap: 4px;
  }
  &.gap-8px {
    gap: 8px;
  }
  &.gap-16px {
    gap: 16px;
  }
  &.flex-column {
    flex-direction: column;
  }
  &.col-12 {
    width: 100%;
    flex: 1;
  }
}
// 포지션 postion css
.position {
  &.absolute {
    position: absolute;
  }
  &.relative {
    position: relative;
  }
}
// 영역 css 일부
.px-18px {
  padding-right: 18px;
  padding-left: 18px;
}
.px16 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.ps-10px{
  padding-left: 10px;
}
.ps-8px{
  padding-left: 8px;
}
.pe-10px {
  padding-right: 10px;
}
.pe-8px {
  padding-right: 8px;
}
.w-44px {
  width: 44px;
}
.h-18px {
  height: 18px;
}
.h-74px {
  height: 74px;
}
//폰트 사이즈
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}

// 폰트 두께
.font-weight-600 {
  font-weight: 600;
}

//배경 css
.bg-blusG_100 {
  background-color: modules.$color_blueG_100;
}
.bg-blusG_400 {
  background-color: modules.$color_blueG_400;
}

// 폰트 컬러 CSS
.font-color-blusG_100 {
  color: modules.$color_blueG_100;
}
.font-color-blusG_400 {
  color: modules.$color_blueG_400;
}
.font-primary {
  color: modules.$color_primary;
}
.font-success {
  color: modules.$color_statesSuccess;
}
.font-secondary {
  color: modules.$color_secondary
}

// 폰트 정렬
.text-start {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}

// 너비값
.w-20 {
  max-width: 20%;
  width: 100%;
}
.w-53px {
  max-width: 53px;
  width: 100%;
}

// 제한 조건 제외 조건 수정 버튼이 사용
.btn-type2 {
  padding: 0;
  width: 37px;
  height: 18px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid modules.$color_blueG_600;
  color: modules.$color_white;
  background-color: modules.$color_blueG_600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: modules.$color_secondary;
    border-color: modules.$color_secondary;
  }
}
// 제한 조건 제외 조건 sql 확인 버튼이 사용
.btn-type3 {
  padding: 0;
  width: 63px;
  height: 18px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid modules.$color_blueG_400;
  color: modules.$color_blueG_800;
  background-color: modules.$color_white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: modules.$color_blueG_200;
    border-color: modules.$color_blueG_400;
  }
}
// 공통 닫기
.sql-body .btn-close {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
  z-index: 2;
  @include modules.textIndent();
  background-color: #7F8A94;
  mask: url(../images/icon_window_close.svg) no-repeat 50%;
  &:hover {
    background-color: #3B4044;
  }
}



// 공통 테이블  css
.table-container {
  //padding: 20px;
  overflow: auto;
  //max-height: 20vw;
  max-height:calc(100% - 224px);
  position:relative;
  .table {
    width: 100%;
    border-collapse: collapse;
    //margin: 10px 0 0;
    .selected-row td {
      background-color: modules.$color_hilight !important;
    }
    table-layout: fixed;
  }

  .table thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table th {
    padding: 7px 6px;
    background-color: modules.$color_secondary;
    border-left: 1px solid modules.$color_blueG_200;
    border-right: 1px solid modules.$color_blueG_200;
    //height: 36px;
    font-size: 13px;
    font-weight:500;
    color: modules.$color_white;
  }

  .table td {
    padding: 7px 8px;
    border: 1px solid modules.$color_blueG_200;
    border-right: 1px solid transparent;
    //height: 36px;
    font-size: 13px;
    text-align: center;
    &:last-child {
      border-right: 1px solid modules.$color_blueG_200;
    }
    &.td-left {
      text-align: start;
    }
    &.td-right {
      text-align: end;
    }
  }
  .table td > span {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table td > a {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  //.table button {
  //  font-size: 12px;
  //  font-weight: 600;
  //}

  .table tr:hover td {
    background-color: modules.$color_blueG_100;
  }

  .table tr:hover td > span {
    color: modules.$color_secondary;
  }
  

  /* 체크된 상태 */
  input[type="checkbox"]:checked {
    background-color: modules.$color_primary !important;
    border-color: modules.$color_primary !important;
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 58px;
    height: 20px;
    background-color: modules.$color_white;
    color: modules.$color_blueG_800;
    border: 1px solid modules.$color_blueG_400;
    border-radius: 4px;
    @include modules.font-style(text_smb12);

    &:hover {
      color: modules.$color_secondary;
      border-color: modules.$color_blueG_600;
    }
  }

  a {
    color: #007bff;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
    color: modules.$color_link_hover;
  }
}



// 공통 페이징 css
.pagination-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  //margin-top: 10px;
  padding: 10px;
  border-top: 1px solid modules.$color_blueG_400;
  border-bottom: 1px solid modules.$color_blueG_400;

  span {
    cursor: pointer;
    padding: 5px 10px;
    //background: #f4f4f4;
    border-radius: 4px;
    color: modules.$color_secondary;
    &:hover {
      background-color: modules.$color_bgRed;
    }
  }

  span.active {
    background: modules.$color_primary ;
    color: modules.$color_white;
  }

  button {
    border: none;
    //background: #007bff;
    //padding: 5px 10px;
    cursor: pointer;
    width: initial !important;
    height: initial !important;
    color: modules.$color_blueG_600;
    &:hover{
      border: none;
      color: modules.$color_secondary;
    }
  }

  button:disabled {
    // 임시
    background: modules.$color_white;
    color: modules.$color_blueG_400;
    cursor: not-allowed;
  }
}

.blank-flex{
  flex: 1;
}

// 버튼 정리
//----------------------
.btn-m {
  display: inline-flex;
  align-items: center;
  height: 33px;
  padding: 0 16px;
  background-color: modules.$color_primary;
  border-radius: 33px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  gap: 6px;
  transition: background-color ease 0.4s;
  &:hover{
    background-color: modules.$color_secondary;
    //background-color: modules.$over-color;
  }
  //CMS 바로가기
  &.cms{
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      mask: url(../images/icon_cms.svg) no-repeat 50%;
    }
  }
  //타겟관리 신규 타겟팅
  &.target{
    .icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      mask: url(../images/icon_next_arrow.svg) no-repeat 50%;
    }
  }
}

//모달 팝업 취소, 적용 버튼
.btn-s{
  display: inline-flex;
  align-items: center;
  height: 33px;
  padding: 0 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  &.gray{
    background-color: modules.$gray-color;
    &:hover{
      background-color: modules.$color_secondary;
    }
  }
  &.red {
    background-color: modules.$color_primary;

    &:hover {
      background-color: modules.$color_secondary;
    }
  }
  &:disabled{
    background-color: modules.$color_blueG_300;
    color: modules.$color_white;
    cursor: default;
    &:hover{
      background-color: modules.$color_blueG_300;
      color: modules.$color_white;
    }
  }
}

.btn-textR {
    display: inline-flex;
    align-items: center;
    height: 28px;
    background-color: modules.$color_blueG_100;
    color: modules.$color_blueG_800;
    border-radius: 28px;
    padding:0 12px;
    @include modules.font-style(text_smb13);
    gap: 4px;

    &:hover {
      background-color: modules.$color_bgRed;
      color: modules.$color_primary;
    }

    &.plus{
      i {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: modules.$color_primary;
        mask: url(../images/icon_plus.svg) no-repeat 50%;
      }
    }
}

.footer-button-box button,
.btn-crud {
    display: inline-flex;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid modules.$color_blueG_600;
    background-color: modules.$color_white;
    @include modules.font-style(text_smb14);
    color: modules.$color_secondary;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    min-width: 81px;
    border-radius: 4px;

    &:hover {
      color: modules.$color_primary;
      border-color: modules.$color_primary;
    }

    &.emph {
      color: modules.$color_white;
      border-color: modules.$color_blueG_900;
      background-color: modules.$color_blueG_800;

      &:hover {
        border-color: modules.$color_secondary;
        background-color: modules.$color_blueG_900;
      }
    }
}
// .footer-button-box button{
//   &.black{
//     border: 1px solid modules.$color_blueG_900;
//     background-color: modules.$color_blueG_800;
//     color: modules.$color_white;
//     &:hover{
//       border-color: modules.$color_secondary;
//       background-color: modules.$color_secondary;
//     }
//   }
// }

// 조건없을경우 일반 적인 공통 버튼 css, table 상단 우측 버튼
.btn-common {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid modules.$color_blueG_600;
  @include modules.font-style(text_smb13);
  color: modules.$color_secondary;
  transition: all 0.2s ease-in-out;
  &:hover {
    border-color: modules.$color_primary;
    color: modules.$color_primary;
  }
  &:disabled {
    border-color: modules.$color_blueG_100;
    color: modules.$color_blueG_100;
    opacity: 0.6;
    cursor: not-allowed;
  }
  &.add {
    i {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: modules.$color_primary;
      mask: url(../images/icon_plus.svg) no-repeat 50%;
    }
  }
  &.del {
    i {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: modules.$color_primary;
      mask: url(../images/icon_minus.svg) no-repeat 50%;
    }
  }
}

.btn-move {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 18px;
  background-color: modules.$color_white;
  border: 1px solid modules.$color_blueG_400;
  border-radius: 4px;
  text-indent: -999999px;
  overflow: hidden;

  i {
      display: inline-block;
      width: 8px;
      height: 5px;
      background-color: modules.$color_blueG_600;
  }

  &.up{
    i {      
      mask: url(../images/icon_up_arrow.svg) no-repeat 50%;
    }
  }

  &.down{
    i {
      mask: url(../images/icon_down_arrow.svg) no-repeat 50%;
    }
  }
  
  &:hover{
    border-color: modules.$color_blueG_600;

    i {
      background-color: modules.$color_blueG_800;
    }
  }

  &:disabled{
    i {
      background-color: modules.$color_blueG_500;
    }
  }
}

.btn-lnb-link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    @include modules.font-style(text_smb14);
    color: modules.$color_blueG_800;
    border: 1px solid modules.$color_blueG_400;
    margin-bottom: 16px;;

    i{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: modules.$color_blueG_600;
        mask: url(../images/icon_cms.svg) no-repeat 50%;
    }

    &:hover {
        color: modules.$color_secondary;
        border-color: modules.$color_primary;

        i {
            background-color: modules.$color_primary;
        }
    }

}

// 테이블 내 버튼
.btn-intable {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 58px;
    height: 20px;
    background-color: modules.$color_white;
    border: 1px solid modules.$color_blueG_400;
    @include modules.font-style( text_smb12);
    color: modules.$color_blueG_800;

    &:hover{
      color: modules.$color_secondary;
      border-color: modules.$color_blueG_600;
    }
}

.btn-back {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:20px;
  height:20px;
  background-color: modules.$color_blueG_600;
  mask: url('../images/icon_side_arrow.svg') no-repeat left center;
  mask-size: 45%;
  @include modules.textIndent();
  &:hover{
    background-color: modules.$color_secondary;
  }
}

.btn-target {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:36px;
    height:36px;
    border-radius: 18px;
    background: modules.$color_blueG_600 url('../images/icon_circle_arrow.svg') no-repeat center 6px;
    @include modules.textIndent();
  &:hover {
      background-color: modules.$color_secondary;
  }
}

// 설명문구
.step-info{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: modules.$color_blueG_600;
  .icon{
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../images/icon_info.svg) no-repeat 50%;
  }
}

// 공지사항 중요, New 아이콘, 추천 아이콘
.icons {
    display: inline-flex;
    gap: 4px;
    align-items: center;

    .important, .new{
            background-color: modules.$color_bgRed;
            color: modules.$color_primary;
            font-size: 12px;
            font-weight: 600;
            display: inline-flex;
            height: 18px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
        }
    .important{
        width: 29px;
    }
    .new{
        width: 17px;
    }
}

.icon-recommand{
  display: inline-block;
  width: 29px;
  height:38px;
  background: url(../images/icon_recommand.svg) no-repeat 0 0;
  @include modules.font-style(text_smb12);
  color: modules.$color_primary;
  position: absolute;
  top: 0;
  left: 5px;
  padding-top: 1px;
}

.icon-inline{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include modules.textIndent();

  &.lock{
    width:12px;
    height:16px;
    background: url(../images/icon_security.svg) no-repeat 50%;
  }
  &.attach{
    width:11px;
    height:17px;
    background: url(../images/icon_attach_file.svg) no-repeat 50%;
  }
  &.info{
    width: 17px;
    height: 17px;
    mask: url('../images/icon_info_circle.svg') no-repeat center;
    background-color: modules.$color_blueG_600;
  }
}

//파일 첨부
.filebox {
  display: flex;
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0 8px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #666666;
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    .icon{
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: modules.$color_primary;
      mask: url(../images/icon_plus.svg) no-repeat 50%;
    }
    &:hover{
      border-color: #E30084;
      color: #E30084;
    }
  }
  .upload-name {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    height: 32px;
    line-height: 32px;
    appearance: none;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 13px;
    border-radius: 2px;
    margin-right: 5px;
    // border: 1px solid #3C414B;
    // background: #21252C;
    // color: #e0e0e0;
    border: 1px solid #c7c7c7;
    background: #fff;
    color: #444;
    border-radius: 4px;
  }
  &.filebox-disabled{
    position: relative;
    &::after{
      content:'';
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}

.non-border-bottom{
  border-bottom: none !important;
}

// 공통 모달용 툴팁창 ui css 0414
.tip-box {
  //display: none;
  cursor: initial;
  width: 360px;
  padding: 16px 20px;
  border-radius: 4px;
  border: 1px solid modules.$color_primary;
  //position: absolute;
  top: 22px;
  left: 0;
  z-index: 10;
  background-color: modules.$color_white;

  .tip-header {
    color: modules.$color_secondary;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid modules.$color_blueG_300;

    .btn-tip-close {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 7px;
      cursor: pointer;
      z-index: 2;
      @include modules.textIndent();
      background-color: #7F8A94;
      mask: url(../images/icon_window_close.svg) no-repeat 50%;
      mask-size: 16px 16px;

      &:hover {
        background-color: #3B4044;
      }
    }
  }

  .tip-body {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 500;
    color: modules.$color_blueG_800 !important;
  }
}