@use "modules";
$main-top-h: 243px;
$contents-top-h: 59px;
.main-wrap{
    background-color: modules.$color_blueG_100;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    .row-top{
        // flex: 0 0  $main-top-h;
        height: $main-top-h;
        background-color: modules.$color_white;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        padding:  30px 30px 10px 30px;        
        .top-l{
            flex: 0 0 600px;            
        }
        .top-r{
            flex: 1;            
            box-sizing: border-box;
            border-left: 1px solid modules.$color_blueG_300;
        }
    }
    .top-row{
        display: flex;
        gap: 30px;
    }
    .row-bottom{
        // flex: 1;
        height: calc(100% - $main-top-h);
        box-sizing: border-box;
        // padding: 30px;
        overflow-x: hidden;
        overflow-y: auto;
        @include modules.custom-scrollbar();
    }
    .my-layout{
        display: grid;
        grid-template-columns: 1fr 600px;
        // grid-auto-rows: 291px minmax(260px,auto);
        grid-auto-rows: 291px 282px;
        gap: 30px;
        box-sizing: border-box;
        // height: 100%;
        padding: 30px;
    }
    .team-layout{
        padding: 30px;
    }
    .layout-box {
        background-color: modules.$color_white;
        border: 1px solid modules.$color_blueG_400;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 0 30px 20px 30px;
        .main-title{
            height: 27px;
            margin: 20px 0 12px 0;
        }
        .box-contents{
            height: calc(100% - $contents-top-h);  
            position: relative;          
        }
        &.team{
            height: 1000px;
        }
        // &.error, &.notice, &.today{
        //     opacity: 0;
        // }
    }

    .my-infos{
        .info-title{
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            .title-l{
                display: flex;
                align-items: center;
                .user-name{
                    font-size: 20px;
                    color: modules.$color_secondary;
                    font-weight: 400;
                    padding: 0 8px;
                    strong{
                        font-weight: 600;
                    }
                }
                .divide-line{
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background-color: modules.$color_blueG_400;
                }
                .btns{
                    margin-left: 8px;
                    display: flex;
                    .btn-type{
                        height: 18px;
                        background-color: modules.$color_blueG_100;
                        font-size: 12px;
                        color: modules.$color_blueG_400;
                        display: inline-flex;
                        align-items: center;
                        padding: 0 9px;
                        font-weight: 600;
                        cursor: pointer;
                        &.my{
                            border-radius: 8px 0 0 8px;
                        }      
                        &.team{
                            border-radius: 0 8px 8px 0;
                        }    
                        &.active{
                            background-color: modules.$color_bgRed;
                            color: modules.$color_primary;
                        }                    
                    }
                }
            }
           
        }
        .infos-row{
            display: flex;
            gap: 8px;
            height: 130px;
            .info-box{
                flex: 1;
                border-radius: 8px;
                color: modules.$color_white;
                box-sizing: border-box;
                padding: 18px 16px;
                .label{
                    font-size: 13px;
                    font-weight: 600;
                }
                .count{
                    padding-top: 25px;
                }
                .num{
                    color: modules.$color_white;
                    font-size: 48px;
                    font-weight: 600;
                    display: flex;
                    justify-content: flex-end;
                }
                &:nth-child(1){
                    background-color: #EB69B4;
                }
                &:nth-child(2){
                    background-color: #D270C2;
                }
                &:nth-child(3){
                    background-color: #BB7CE5;
                }
            }
            .team-list{
                flex: 1;
                border-top: 1px solid modules.$color_blueG_200;
                li{
                    display: flex;
                    border-bottom: 1px solid modules.$color_blueG_200;
                    height: 32px;
                    .name, .num{
                        flex: 1;                        
                        color: modules.$color_blueG_800;                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        &.status{
            padding-left: 30px;
            .infos-row{
                gap: 16px;
                height: 130px;
                position: relative;
                .info-box{
                    background-color: modules.$color_blueG_100;
                    .label{
                        font-size: 13px;
                        font-weight: 600;
                        color: modules.$color_blueG_600;
                    }
                    .count{
                        padding-top: 10px;
                    }
                    .num{
                        padding-top: 25px;
                        color: modules.$color_blueG_800;
                        font-size: 36px;
                    }
                    &:nth-child(1), &:nth-child(2){
                        flex: 0 0 165px;
                    }
                    &.table{
                        padding: 10px 16px;
                        flex: 1;
                        &.scroll{
                            overflow-y: hidden;
                            overflow-x: auto;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            @include modules.custom-scrollbar(round);
                            .info-table{
                                width: max-content;
                            }
                        }
                    }
                }
            }
            .info-table{
                height: 100%;
                
                th, td{
                    font-weight: 600;
                    height: 36px;
                    border: 2px solid modules.$color_white;                    
                }
                th{                    
                    font-size: 13px;
                    color: modules.$color_blueG_600;
                }
                td{                   
                    font-size: 18px;
                    color: modules.$color_blusG_900;
                    text-align: right;
                    padding: 0 16px;
                }
                th, td{
                    &:first-child{
                        border-left: none;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
                thead{
                    th{
                        border-top: none;                        
                    }
                }
                tbody{
                    tr{
                        &:last-child{
                            th, td{
                                border-bottom: none;
                            }
                        }
                    }
                    td{
                        &:first-child{
                            font-size: 13px;
                            color: modules.$color_blueG_600;
                        }
                    }
                }
            }
        }
    }
    .main-title{
        height: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 13px 0;
        .title-l{
            display: flex;
            align-items: flex-end;
            gap: 15px;
            .title{
                font-size: 18px;
                color: modules.$color_secondary;
                font-weight: 600;     
                strong{
                    color: modules.$color_primary;
                }           
            }
            .info{
                font-size: 12px;
                color: modules.$color_blueG_800
            }            
        }
    }
    .error-list{
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        @include modules.custom-scrollbar();
        li{
            padding: 16px 5px 16px 0;
            border-bottom: 1px solid modules.$color_blueG_300;
        }
        .infos{
            display: flex;
            justify-content: space-between;
            .code{
                color: modules.$color_blueG_600;
                font-size: 13px;
                font-weight: 600;                
            }
            .count{
                font-size: 13px;
                color: modules.$color_blueG_600;
                font-weight: 600; 
                margin-left: 8px;
                strong{
                    color: modules.$color_secondary;
                }
            }
            .row-r{
                font-size: 12px;
                color: modules.$color_blueG_800;
                font-weight: 400; 
            }            
        }
        .title{
            font-size: 16px;
            color: modules.$color_blueG_800;
            font-weight: 600; 
            margin: 10px 0 20px 0;
            @include modules.textEllipsis(1);
        }
        .state{
            font-size: 12px;
            color: modules.$color_statusWarning;
            font-weight: 600;
        }
    }
    .today-list{
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        padding-right: 2px;
        @include modules.custom-scrollbar();
        ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
        }
        li{
            position: relative;
            height: 126px;
        }
        .item{
            border: 1px solid modules.$color_blueG_400;            
            border-radius: 8px;
            box-sizing: border-box;
            padding: 16px;
            position: absolute;
            width: 100%;   
            height: 100%;         
            .code{
                font-size: 12px;
                color: modules.$color_blueG_500;
                font-weight: 600;   
            }
            .title{
                font-size: 16px;
                color: modules.$color_blueG_800;
                font-weight: 600; 
                margin: 10px 0 20px 0;
                @include modules.textEllipsis(1);
            }
            .times{
                display: flex;
                flex-direction: column;
                gap: 6px;
                font-size: 12px;
                color: modules.$color_blueG_800;
                font-weight: 400; 
            }

        }
    }
    .notice-list{
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        @include modules.custom-scrollbar();
        li{
            display: flex;
            gap: 8px;
            + li{
                margin-top: 22px;
            }
            .title{
                flex: 1;
                @include modules.textEllipsis(1);
            }
            .date{
                flex: 0 0 62px;
            }
        }
    }
    .btn-more{
        display: inline-flex;
        align-items: center;
        height: 28px;
        background-color: modules.$color_blueG_100;
        border-radius: 28px;
        padding: 0 9px 0 12px;
        gap: 2px;
        font-size: 13px;
        font-weight: 600;
        color: modules.$color_blueG_800;
        cursor: pointer;
        .icon{
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url(../images/icon_main_btn_arrow.svg) no-repeat 50%;
        }
    }
}