@use "modules";

.v-select,
.vs__dropdown-toggle {
  height: 36px;
  padding: 0;  
}
.vs__dropdown-toggle {
  border-radius: 4px;
  border: 1px solid #666666;
  background-color: #fff;
  // border: 1px solid #666666;
  // background-color: #F3F5F6;
  &:hover{
    border: 1px solid #000;
  }
}
.v-select{
  input{
    &:read-only{
      border: none !important;
      background: none;
    } 
  }
}
.vs--open{
    .vs__dropdown-toggle {
        border: 1px solid #000;
    }
}
.vs__selected {
  height: 34px;
  margin: 0;
  margin-left: 4px;
  font-size: 14px !important; 
  padding-left: 10px;
}
:root {
  --vs-controls-size: 0.8;
  --vs-actions-padding: 2px 7px 0 3px;
}
.vs__dropdown-menu{
  font-size: 14px !important;
}
.v-select.drop-up.vs--open .vs__dropdown-toggle {
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
  border-bottom-color: rgba(60, 60, 60, 0.26);
}
[data-popper-placement='top'] {
  border-radius: 4px 4px 0 0;
  border-top-style: solid;
  border-bottom-style: none;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15);
}
.vs__dropdown-menu {
  min-width: 50px;
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #eee;
  }
  &::-webkit-scrollbar {
      width: 6px;
      background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
      background-color: #727272;
  }
}
.vs__actions{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.vs__open-indicator{
  position: absolute;
  right: 9px;
  top: 10px;
}
.vs__search:focus{
    border: none !important;
}
.icon-v-select{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/icon_selectbox_arrow.svg) no-repeat 50%;
    position: absolute;
    right: 7px;
    top: 4px;    
}
.vs--open{
    .icon-v-select{
        transform: rotate(180deg);
    }    
}
.v-select__wrap{
    display: inline-block;    
}
.vs__dropdown-option--highlight{
  background-color: modules.$focus-color;
}
.vs--unsearchable .vs__search {
    opacity: 1;
    height: 26px;
}
.vs--disabled{  
  .vs__dropdown-toggle{
    cursor: default;
    opacity: 0.5;
  }
  &.readonly{
    .vs__dropdown-toggle{
      opacity: 1;
    }    
    .vs__selected{
      color: #000;
    }
  }
  .vs__dropdown-toggle{
    opacity: 1;
    background-color: modules.$color_blueG_100;
    border-color: modules.$color_blueG_300;
  }
  .icon-v-select{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: none;
    background-color: modules.$color_blueG_400;
    mask: url(../images/icon_selectbox_arrow.svg) no-repeat 50%;
  }
  .vs__selected{
    color: modules.$color_blueG_500;
  }
} 

.tippy-box{
  font-size: 13px;
}
// .tippy-box[data-placement^='top'] > .tippy-arrow::before, .tippy-box[data-placement^='bottom']
//   > .tippy-arrow::before, .tippy-box[data-placement^='left']
//   > .tippy-arrow::before, .tippy-box[data-placement^='right']
//   > .tippy-arrow::before  {
//   display: none;
// }

.dp__selection_preview{
  display: none;
}
.dp__input{
   font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding-right: 10px;
  height: 36px;
  border: 1px solid modules.$color_blueG_600;
  font-size: 14px;
}
.time-picker{
  .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icon_time_picker.svg) no-repeat 50%;
  }
  .dp__instance_calendar{
    height: 150px;
  }
  .dp__menu_inner{
    height: 150px;
  }
  .dp__calendar{
    > div{
      height: 150px !important;
    }
  }
}
.date-picker{
  .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icon_date_picker.svg) no-repeat 50%;
  }
}
.dp__input_icon{
  transform: translate(9px, -10px);
}
.dp__pm_am_button{
 background-color: modules.$color_primary;
}
.dp__action_button{
  &.dp__action_select{
    background-color: modules.$color_blueG_600;
    &:hover{
      background-color: modules.$color_secondary;
    }
  }
} 
.dp__inc_dec_button:hover{
  background-color: modules.$color_blueG_300;
  color: modules.$color_secondary;
}
.dp__action_cancel:hover{
  border-color: modules.$color_blueG_700;
}

.v-select__wrap{
  &.up{
    .v-select .vs__dropdown-menu {
      bottom: 100% !important;
      top: auto;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      border-top: 1px solid rgba(60, 60, 60, .26);
    }
  }
}

.dp__action_buttons {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    margin-left: inherit;
    width: 100%;
}