@use "vue-select/dist/vue-select.css";
@use 'tippy.js/dist/tippy.css';
@use '@vuepic/vue-datepicker/dist/main.css';
@use 'swiper/css';
@use 'swiper/css/free-mode';
@use 'swiper/css/pagination';
@use 'swiper/css/scrollbar';
@use 'swiper/css/autoplay';
@use "common";
@use "animation";
@use "override";
@use "layout";
@use "header";
@use "index";
@use "targeting";
@use "style";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 1 1000;
  font-display: swap;
}